# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next
/out
/.vercel
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# production
/build

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*